<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Películas</title>
</head>
<body>
    <header>
        <img class="logo" src="../../../assets/logo.png" alt="Logo">
        <nav class="d-flex align-items-center">
            <a style="text-decoration: none;" routerLink="/ruta-IniciosesionComponent">Cerrar Sesión</a>
        </nav>
    </header>
    <!--Pelicula destacada-->

    <div class="fondo fondo-inner">
        <div class="featured-movie">
            <img class="pelis" src="../../../assets/fnaf2.jpg" alt="Película Destacada">
            <div class="info">
                <h2>Five Nights at Freddy's</h2>
                <div class="sin">
                    <p>El terrorífico fenómeno del videojuego de terror se transforma en un escalofriante espectáculo cinematográfico, Blumhouse (productora de M3GAN, El teléfono negro y El hombre invisible) lleva Five Nights at Freddy's a la gran pantalla. La película trata de un problemático guardia de seguridad que empieza a trabajar en Freddy Fazbear's Pizza. Mientras pasa su primera noche en el trabajo, se da cuenta de que el turno de noche en Freddy's no será tan fácil de superar.</p>
                </div>
                <button type="button" class="btn btn-danger">Reproducir</button>
            </div>
        </div>
    </div>
    <div class="tituloPeliculas">
        <h2>PELICULAS</h2>
    </div>
    <section class="main-content">
        <!--Lista de Series-->
        <div class="movie-list">
            <div class="movie-card" *ngFor="let pelicula of listaPeliculas;">
                <button class="peliss" type="button" data-bs-toggle="modal" data-bs-target="#modalPelicula">
                <img class="pelis2" [src]="'../../../assets/'+pelicula.banner" [alt]="pelicula.titulo"></button>
            </div>
        </div>
    </section>

    <!--Modal para mostrar detalles de pelicula-->
    
    <!-- Modal -->
    <div class="modal fade " id="modalPelicula" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    </body>

</html>