<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio sesión</title>
</head>
<body>

  <nav>
    <a href="#"><img src="#" alt="logo"></a>
  </nav>
  <div class="form-wrapper">
    <h2>Iniciar Sesión</h2>
    <form action="#">
      <div class="form-control">
        <input type="text" [(ngModel)]="email" name="email" required>
        <label>Correo</label>
      </div>
      <div class="form-control">
        <input type="password" [(ngModel)]="password" name="pass" required>
        <label>Contraseña</label>
      </div>
      <button type="submit" (click)="buscarUsuario()">Iniciar Sesión</button>
      <div class="form-help">
        <div class="remember-me">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Recuerdame</label>
        </div>
        <a href="#">¿Necesitas ayuda?</a>
      </div>
    </form>
    <p>¿Eres nuevo? <a routerLink="/ruta-RegistrarComponent">Registrate ahora</a></p>
    <small>
      This page is protected by Google reCAPTCHA
      to ensure you're not a bot.
      <a href="#">Leer más.</a>
    </small>
  </div>

  
</body>
</html>