<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proyecto</title>
</head>
<body>

  <nav>
    <a href="#"><img src="#" alt="logo"></a>
  </nav>
  <div class="form-wrapper">
    <h2>Iniciar Sesión</h2>
    <form action="#">
      <div class="form-control">
        <input type="text" required>
        <label>Correo o número de teléfono</label>
      </div>
      <div class="form-control">
        <input type="password" required>
        <label>Contraseña</label>
      </div>
      <button type="submit">Iniciar Sesión</button>
      <div class="form-help">
        <div class="remember-me">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Recuerdame</label>
        </div>
        <a href="#">¿Necesitas ayuda?</a>
      </div>
    </form>
    <p>¿Eres nuevo? <a routerLink="ruta-RegistrarComponent">Registrate ahora</a></p>
    <small>
      This page is protected by Google reCAPTCHA
      to ensure you're not a bot.
      <a href="#">Leer más.</a>
    </small>
  </div>
  <nav>
    <a href="#"><img src="#" alt="logo"></a>
  </nav>
  <div class="form-wrapper">
    <h2>Iniciar Sesión</h2>
    <form action="#">
      <div class="form-control">
        <input type="text" required>
        <label>Correo o número de teléfono</label>
      </div>
      <div class="form-control">
        <input type="password" required>
        <label>Contraseña</label>
      </div>
      <button type="submit">Sign In</button>
      <div class="form-help">
        <div class="remember-me">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Recuerdame</label>
        </div>
        <a href="#">¿Necesitas ayuda?</a>
      </div>
    </form>
    <p>¿Eres nuevo? <a routerLink="/ruta-RegistrarComponent" routerLinkActive="active">Registrate ahora</a></p>
    
    <small>
      This page is protected by Google reCAPTCHA to
      ensure you're not a bot.
      <a href="#">Leer más.</a>
    </small>
  </div>

  
</body>
</html>